body {
  background-color: whitesmoke;
  min-width: 300px;
  font-family: Roboto, sans-serif;
}

.todo-list {
  background-color: white;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15), /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15), /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 0 30px 30px 30px;

  h3 {
    padding-top: 30px;
  }

  #todo {
    width: 70%;
  }
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 90%;
  border-bottom: 1px solid #cecece;
  font-weight: 100;

  p {
    margin-left: 10px;
  }
}

.todo {
  padding-top: 30px;
  margin: 20px auto auto auto;
}

.todo-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
  word-break: break-word;
}

@media (min-width: 576px) {
  .todo-list {
    width: 70%;
    #todo {
      width: 70%;
    }
  }
  .todo-item {
    width: 90%;
  }
  .todo-text {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .todo-list {
    width: 50%;
    #todo {
      width: 50%;
    }
  }
  .todo-item {
    width: 70%;
  }
  .todo-text {
    width: 70%;
  }
}

@import '~primereact/resources/themes/luna-amber/theme.css';
@import '~primereact/resources/primereact.css';
@import '~primeicons/primeicons.css';
